@import "tailwindcss";

:root {
  --color-primary: #2f0147;
  --color-secondary: #e2c2e6;
  --color-background: #fafafa;
  --color-text: #0e0e0e;
  --button-radius: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #7e5ce5;
    --color-secondary: #e2c2e6;
    --color-background: #0e0e0e;
    --color-text: #fafafa;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

button {
  cursor: pointer;
  padding: 0.4rem 1rem;
  margin: 10px 20px;
  border-radius: var(--button-radius);
  font-weight: 700;
  transition: all 0.3s ease;
  outline-offset: 4px;
  outline: 0.2rem solid;
}

button:hover {
  font-size: large;
}

.primary-button {
  background-color: var(--color-primary);
  color: var(--color-background, #fafafa);
}

.primary-button:hover {
  outline-color: var(--color-primary);
}

.secondary-button {
  background-color: var(--color-secondary);
  color: #0e0e0e;
}

.secondary-button:hover {
  outline-color: var(--color-secondary);
}
