@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-primary-dark: #1e40af;
  --color-primary-light: #3b82f6;

  --color-secondary: #f59e0b;
  --color-secondary-dark: #b45309;
  --color-secondary-light: #fbbf24;
}
