:root {
  --white-transparent: #80808020;
}
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 90%;
  height: 80px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 800ms ease-in-out;
}
.nav-link:hover {
  background: var(--white-transparent);
}

/* Desktop styles */
@media (min-width: 1024px) {
  .nav-link {
    height: 80px;
  }
}

/* Mobile styles */
@media (max-width: 1023px) {
  .nav-link {
    width: fit-content;
    height: auto;
    padding: 8px 4px;
  }
}
